<div class="row">
  <div class="col-8">

    <%= form_for(@opinion) do |form| %>

    <%= check_errors %>
<div class="mb-2">
    <p class="">
      <%= form.text_area :text, class: "form-control height m-0", placeholder: "Recommend useful books..." %>
    </p>
    <p class="">
      <%= form.submit "Recommend", class: "btn btn-dark btn-outline-light m-0 p-2 float-end" %>
    </p>
    <% end %>
</div><br />
    <div class="card p-1 mt-5">
      <%= show_opinions(@opinions) %>
    </div>
  </div>
  <div class="col-4">
    <%= render partial: "sections/who_to_follow" %>
  </div>
</div>