<% if Current.user %>
  <div class="grey">
    <div class="p-4 dark-grey">
      <div class="row g-0">
        <div class="col-md-4">
          <%= left_user_photo %>
        </div>
        <div class="col-md-8">
          <div class="card-body px-1 py-2">
            <h6 class="card-title">
              <%= link_to Current.user.full_name, user_path(Current.user.id), class: "text-white none text-uppercase" %>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div>
        <div class="d-flex text-center dark-grey">
            <div class="flex-fill">
                <div class="card-body">
                    <h5 class="card-title fw-bold text-white p-0 m-0"><%= Current.user.followings.count %></h5>
                    <p class="card-text text-white p-0 m-0"><small class="light-grey">Following</small></p>
                </div>
            </div>
            <div class="flex-fill">
                <div class="card-body">
                    <h5 class="card-title text-white fw-bold p-0 m-0"><%= Current.user.followers.count %></h5>
                    <p class="card-text text-white p-0 m-0"><small class="light-grey">Followers</small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column bd-highlight m-4">
      <div class="p-2 bd-highlight m-2">
        <%= link_to root_path, class: "text-white none" do %>
          <i class="fas fa-home mx-2"></i>  Home
        <% end %>
      </div>
      <div class="p-2 bd-highlight m-2">
        <%= link_to user_path(Current.user.id), class: "text-white none" do %>
          <i class="fas fa-user-circle mx-2"></i>  Profile
        <% end %>
      </div>
    </div>
  </div>
<% end %>